*
{
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    z-index: 0;
}

a
{
    text-decoration: none;
    color: white;
}

ul
{
    list-style-type: none;
}

#navbar
{
    position: fixed;

    width: 100%;
    height: auto;
    z-index: 1;

    text-align: center;
    background: rgb(50, 50, 50);

    font-size: 18px;
}

#navbar ul
{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
#navbar li
{
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    display: inline;
    color: white;
}

#navbar li:hover
{
    color: red;
}

#navbar a
{
    color: white;
}

#navbar a:hover
{
    color: red;
}

#navbarSeparator
{
    position: fixed;
}

.separator
{
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(
    135deg,
    red,
    red 10px,
    darkgray 10px,
    darkgray 20px
    );
}

#holidayHoursText
{
    color: red;
    margin-bottom: 10px;
}

#mainBody
{
    width: 100%;
    height: auto;
}

#titleSpace
{
    text-align: center;

    width: 100%;
    height: auto;
    min-height: 800px;

    background-image: url("https://partywirks.com/asset/asset/15192/F9C51DB1-680F-45B4-B1A8-944C107B2CB9.jpg?1512425589");
    background-size: cover;
}

#storeTitle
{
    position: relative;

    top: 300px;
    font-size: 70px;

    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#storeSlogan
{
    position: relative;

    top: 350px;
    font-size: 30px;

    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#overviewSpace
{
    /* Size */
    width: 100%;
    height: auto;
    min-height: 700px;

    /* Coloring */
    background-color: black;

    /* Text Formatting */
    text-align: center;
}

#overviewText
{
    color: white;
}

.columnContainer
{
    /* Size */
    /* End pixel value always has to be double the padding so it doesn't wrap off the page */
    width: calc(50% - 160px);
    padding: 80px;

    /* Text Formatting */
    color: white;
}

#overviewLeftContainer
{
    /* Positioning */
    float: left;
}

#overviewRightContainer
{
    /* Positioning */
    margin-left: 50%;
}

#loyaltySpace
{
    /* Size */
    width: 100%;
    height: auto;
    padding-bottom: 40px;

    /* Text Formatting */
    text-align: center;

    /* Coloring */
    background-color: lightgray;
}

.sectionHeaders
{
    font-size: 60px;
    padding-top: 40px;
}

.loyaltyHeaders
{
    color: darkslateblue;
    font-size: 20px;
}

#partiesSpace
{
    background-image: url("https://static.wixstatic.com/media/3a3906_e6d52e369daf45d992ba4e4400df073a~mv2_d_5184_3456_s_4_2.jpg/v1/fill/w_1025,h_1348,al_c,q_85,usm_0.66_1.00_0.01/3a3906_e6d52e369daf45d992ba4e4400df073a~mv2_d_5184_3456_s_4_2.webp");
    color: white;
    padding: 40px 20px 40px 20px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#partiesSpace h1
{
    font-size: 40px;
}

.columnContainer
{
    /* Size */
    /* End pixel value always has to be double the padding so it doesn't wrap off the page */
    width: calc(50% - 160px);
    padding: 80px;

    /* Text Formatting */
    color: white;
}
#partiesLeftContainer
{
    float: left;
}

#partiesRightContainer
{
    margin-left: 50%;
}

#specialsSpace
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px 60px 20px;
}

#eventsSpace
{
    width: 100%;
    height: auto;

    background-color: gray;
    text-align: center;
    color: white;
}

#eventsLeftContainer
{
    float: left;
}

#eventsRightContainer
{
    margin-left: 50%;
}









